{% extends 'base.html.twig' %}

{% block title %}Juego index{% endblock %}

{% block body %}
<div class="container">
    <h1 class=" m-4 display-4">Juego index</h1>

    <div class="row row-cols-1 row-cols-sm-4 g-4">
        {% for juego in juegos %}
        <div class="col">
            {% include 'shared/_juegoCard.html.twig' with {'juego': juego } only %}
        </div>
        {% endfor %}
        </div>
    </div>
</div>
    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for juego in juegos %}
            <tr>
                <td>{{ juego.id }}</td>
                <td>{{ juego.nombre }}</td>
                <td>{{ juego.precio }}</td>
                <td>{{ juego.imagen }}</td>
                <td>{{ juego.descripcion }}</td>
                <td>
                    <a href="{{ path('juego_show', {'id': juego.id}) }}">show</a>
                    <a href="{{ path('juego_edit', {'id': juego.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('juego_new') }}">Create new</a>
{% endblock %}