{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()  }}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-4 align-items-center">
			<div class="col">
				<div class="card shadow mx-auto mb-3" style="width: 60rem;">
					{% if error %}
						<div class="alert alert-danger">
							{{ error.messageKey | trans(error.messageData, 'security') }}
						</div>
					{% endif %}
					<div class="card-body">
						<h1 class="card-title">Iniciar Sesión</h1>
						<p class="card-subtitle mb-4 text-muted">
							Accede a tu cuenta</p>

						<form action="{{ path('app_check_login') }}" method="post">
							<div class="mb-3 input-group flex-nowrap">
								<span class="input-group-text" id="addon-wrapping">
									<i class="fa fa-user" aria-hidden="true"></i>
								</span>
								<input type="text" id="username" placeholder="User" class="form-control" name="_username" value="{{ last_username }}">
							</div>
							<div class="mb-4 input-group flex-nowrap">
								<span class="input-group-text" id="addon-wrapping">
									<i class="fa fa-lock" aria-hidden="true"></i>
								</span>
								<input type="password" id="password" placeholder="Password" class="form-control" name="_password">
							</div>
							<div class="mb-2 d-grid gap-2 d-md-flex justify-content-md-start">
								<button class="btn btn-primary" type="submit">Acceder</button>
							</div>
							<div class="text-center card-text">
								<p>¿No eres miembro?
									<a href="{{path('user_register')}}" class="card-link" style="text-decoration:none;">Registrarse</a>
								</p>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
