<a href="{{path('juego_show', {'id': juego.id})}}">
<div class="card text-white bg-dark shadow m-2" style="width: 220px; height: 320px">
	
	<img height="320" width="220" class="card-img" src="{% if juego.imagen is empty %}/imgs/noimg.png{% else %}{{ asset('imgs/' ~ juego.imagen) }}{% endif %}">

	<div class="card-img-overlay d-flex flex-column">
		<div class="row mt-auto">
			<div class="col text-end"><h5><span class="badge rounded-pill bg-info">{{ juego.precio }}€</span></h5>
			</div>
		</div>
	</div>

</div>
	</a>
<div>
		<p class="lead text-center fs-3">
			{{ juego.nombre }} ({{juego.categoria}})
		</p></div>
