{% set app_ruta = app.request.attributes.get('_route') %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ path('juego_index') }}">Kete Store</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"
              aria-current="page"
              href="{{ path('juego_index') }}">
              {{ 'Inicio'|trans }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('juego_new') }}">
              {{ 'Añadir juego'|trans }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('user_perfil') }}">
              {{ 'Mi perfil'|trans }}
            </a>
          </li>
          {{
            render(
              controller(
                'App\\Controller\\IdiomaController::index',
                {
                  ruta: app_ruta
                }
              )
            )
          }}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}" tabindex="-1">
              {{ 'Cerrar sesión'|trans }} ({{ app.user.username }})
            </a>
          </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}
