{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <div class="card mt-4">
    <table class="table table-stripped table-hover">
      <thread>
        <tr>
          <th scope="col">
            {{ 'Nombre'|trans }}
          </th>
          <th scope="col">
            {{ 'Contraseña'|trans }}
          </th>
          <th scope="col">
            email
          </th>
          <th scope="col">
          {{'acciones'|trans}}
          </th>
        </tr>
      </thread>
      <tbody>
        {% for usuario in usuarios %}
          <tr>
            <td>
              {{ usuario.nombre }}
            </td>
            <td>
              {{ usuario.password|slice(0,5) }}...
            </td>
            <td>
              {{ usuario.email }}
            </td>
            <td>
              <a class="btn btn-outline-primary" href="{{ path('admin_usuario', {'id': usuario.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock %}
